@Model List<IMS.Dao.PaymentTypeDao>

@{
    ViewBag.Title = "Index";
}

<h1>List of Data</h1>
<ul id="data-list">
    @foreach (var item in Model)
    {
        <li>@item.Id: @item.Name</li>
    }
</ul>

